<h1>The Latest Blog Posts from TechCrunch & Medium</h1>

{% for tblName, ps in tables.items() %}
    <h2>{{ tblName }}</h2>
    <br>
    {% for p in ps %}
        <h3>{{ p.title }}</h3>
        {{ p.author }}
        <br>
        Article Date: {{ fmtDate(p.article_date) }}
        <br>
        Scraped Date: {{ fmtDate(p.scraped_date) }}
        <br>
        <img src="{{ p.img_link }}">
        <br>
        {{ p.excerpt }}
        <br>
        Source: {{ p.source }}
        <br>
        <br>
        <br>
    {% endfor %}
    <br>
    <br>
{% endfor %}
